@font-face
{
    font-family: "OpenSans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face
{
    font-family: "OpenSansBold";
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62,5%;
    width: 100%;
    height: 100%;
}
body
{   
    height: 100%;
    width: 100%;
    font-family: "OpenSans";
    background: url(../img/mountain.jpg) no-repeat center top fixed;
    background-size: cover;
    color: white;
}
main
{   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
    height: 30%;
}
header
{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
    margin-top: 10%;
}
.container
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.input-city
{   
    border-style: none;
    background-color: rgba(190, 190, 190, 0.301);
    border-radius: 15px;
    width: 80%;
    padding:10px;
    font-size: 1.3rem;
    outline:none;
    border:none;
    color: white;
    height: 50%;
    text-decoration: none;
}
::placeholder
{
    color: rgba(255, 255, 255, 0.384);
}
.city
{     
    font-family: "OpenSansBold";
    font-size: 1.3rem;
}
.date
{   
    margin-top: 5%;
}
.temperature
{
    font-family: "OpenSansBold";
    font-size: 2.2rem;
}
.range
{
    margin-top: 5%;
}
/*---------------------------RESPONSIVE-CSS-----------------------*/
/*--------------SMARTPHONES-------------*/
@media only screen and ( min-width: 321px) and (orientation: portrait)
{   
    html
    {
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 400px) and (orientation: portrait)
{
    html
    {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: portrait)
{
    html
    {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 800px) and (orientation: portrait)
{
    html
    {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 1000px) and (orientation: portrait)
{
    html
    {
        font-size: 1.8rem;
    }
}
/*--------------LANDSCAPE-------------*/
@media only screen and (min-width: 400px) and (orientation: landscape)
{   
    body
    {   
        background-image: url(../img/mountain2.jpg);     
        background-position: bottom;
        background-repeat: no-repeat;
    }
    header
    {
        margin-top: 3%;
        height: 25%;
        margin-bottom: 3%;
    }
    main
    {
        flex-direction: row;
        justify-content: center;
    }
    section
    {
        width: 30%;
    }
    .input-city
    {
        width:60%;
    }
}
@media only screen and (min-width: 700px) and (min-height: 500px) and (orientation: landscape)
{
    html
    {
        font-size: 1.2rem;
    }
    header
    {
        height: 20%;
        margin-bottom: 10%;
    }
}
@media only screen and (min-width: 900px) and (orientation: landscape)
{
    html
    {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 1200px) and (orientation: landscape)
{
    html
    {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 1400px) and (orientation: landscape)
{
    html
    {
        font-size: 1.9rem;
    }
}
@media only screen and (min-width: 1700px) and (orientation: landscape)
{
    html
    {
        font-size: 2.3rem;
    }
}