@font-face
{
    font-family: "OpenSans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face
{
    font-family: "OpenSansBold";
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62,5%;
    width: 100%;
    height: 100%;
}
body
{   
    height: 100%;
    font-family: "OpenSans";
    background-image: url(../img/mountain.jpg);
    background-size: cover;
    background-position: top center;
    color: white;
}
main
{
    width: 100%;
    height: 65%;
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
    height: 30%;
}
header
{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
    margin-top: 10%;
    
    
}
.container
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.input-city
{   
    border-style: none;
    background-color: rgba(190, 190, 190, 0.301);
    border-radius: 15px 0 0 15px;
    width: 80%;
    padding:10px;
    font-size: 1.3rem;
    outline:none;
    border:none;
    color: white;
    height: 50%;
}
.arrow-div
{
    width: 20%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.300);
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .upper-arrow
{
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow
{
    border-top: 3px solid rgba(255, 255, 255, 0.712);
    border-left: 3px solid rgb(255, 255, 255, 0.712);
    width: 13px;
    height: 13px;
    transform: rotate(135deg);
    margin-left: auto;
    margin-right: auto;
}
.arrow::after
{
    content: "";
    display: block;
    width:3px;
    height:18px;
    background-color: rgb(255, 255, 255, 0.712);
    transform: rotate(-45deg) translate(5px,1px);
    
    
} */
::placeholder
{
    color: rgba(255, 255, 255, 0.384);
}
.city
{     
    font-family: "OpenSansBold";
    font-size: 1.3rem;
}
.date
{   
    margin-top: 5%;
}
.temperature
{
    font-family: "OpenSansBold";
    font-size: 2rem;
}
.range
{
    margin-top: 5%;
}
/*---------------------------RESPONSIVE-CSS-----------------------*/
/*--------------SMARTPHONES-------------*/
@media only screen and ( min-width: 321px) and (orientation: portrait)
{   
    html
    {
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 400px) and (orientation: portrait)
{
    html
    {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: portrait)
{
    html
    {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 800px) and (orientation: portrait)
{
    html
    {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 1000px) and (orientation: portrait)
{
    html
    {
        font-size: 1.8rem;
    }
}
